<div class="container">
	<h3><strong>Şirket Paneli</strong> </h3>
	<p><strong>Şirket Mail Adresi: </strong> <%= current_admin.email %> | <%= link_to "Şifre Güncelleme", edit_admin_registration_path %></p>
	<%= turbo_frame_tag "admin" do %>
		<p><strong>Şirket Adı: </strong> <%= current_admin.name%></p>
		<p><strong>Muhasebe Mail Adresi: </strong> <%= current_admin.muhasebe_mail%></p>
		<%= link_to "Şirket Bilgileri Güncelleme", edit_admin_path(@admin), class:"btn btn-outline-primary" %>
	<% end %>

	<p></p>
	<div class="card">
	  <div class="card-header">
	    <% current_admin.name %> Personel Duyuruları
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Buraya duyuru.title gelecek</h5>
	    <p class="card-text">Duyuru içeriği gelecek.</p>
	    <a href="#" class="btn btn-primary">Delete duyuru gelecek</a>
	  </div>
	</div>
</div>


