
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false} }) do |f| %>

<div class="py-4 col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">

  <div class="mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",placeholder:"E-posta" %>
  </div>

  <div class="mb-3">
    <% if @minimum_password_length %>
        <% @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control",placeholder:"Şifre"  %>
  </div>

  <div class="mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control",placeholder:"Şifre tekrar"  %>
  </div>

  <div>
    <%= f.submit "15 gün ücretsiz denemek için kaydol!", class:"btn btn-primary rounded-pill px-5 py-2 mt-2" %>
  </div>

</div>
<% end %>